@import "@styles/variables.scss";

.player_avatar {
  aspect-ratio: 1;
  max-width: 25%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &.defaultAvatar {
    background: $gray;

    svg {
      width: 50%;
      height: 50%;
    }
  }
}
